services:
    shell:
        build:
            context: .
            dockerfile: ./apps/shell/Dockerfile
        ports:
            - '3000:3000'
        depends_on:
            - content

    content:
        build:
            context: .
            dockerfile: ./apps/content/Dockerfile
        ports:
            - '3001:3001'

    api:
        build:
            context: .
            dockerfile: ./apps/api/Dockerfile
        ports:
            - '3002:3002'
