.navigation {
    margin-bottom: 2rem;

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
        display: inline-block;
        margin-right: 1.618em;
    }

    a {
        @media screen and (min-width: 420px) {
            font-size: 1.25rem;
        }
    }
}
