.layout {
    display: grid;
    align-content: space-between;
    justify-content: start;
    height: 100vh;

    /* Avoid Chrome to see Safari hack */
    @supports (-webkit-touch-callout: none) {
        height: -webkit-fill-available;
    }


    @media screen and (min-width: 768px) {
        height: unset;
        @supports (-webkit-touch-callout: none) {
            height: unset;
        }
        margin: 0 auto 0 auto;
        width: calc(768px - 2rem);
    }
}
