html,
body {
    font-family: var(--font-system);
    -webkit-font-smoothing: antialiased;
    color: var(--color-font);
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1.618;
    max-width: 100vw;
    overflow-x: hidden;
}

html {
    background-color: var(--color-background);
}

// html::after {
//     content: '';
//     position: fixed;
//     top: 15vh;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background: var(--gradient-background);
//     mask: linear-gradient(transparent, #fff);
//     z-index: -1;
// }

h1,
h2,
h3,
h4,
h5,
h6,
[role='doc-subtitle'] {
    line-height: 1.07143;
    margin: 0;
    padding: 0;
    font-family: var(--font-serif);
}

[role='doc-subtitle'] {
    font-weight: 700;
}

h1 {
    font-size: 1.8rem;
    @media screen and (min-width: 1025px) {
        font-size: 2rem;
    }
}

p {
    font-size: 1.125rem;
    @media screen and (min-width: 1025px) {
        font-size: 1.25rem;
    }
}

a {
    color: var(--color-font);
    text-decoration: none;
    font-weight: bold;
    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}

main {
    padding: 1.5rem 2rem 1rem 2rem;
    @media screen and (orientation: portrait) {
        padding: 4rem 4rem 6rem 2rem;
    }
    @media screen and (min-width: 768px) {
        padding: 4rem 4rem 6rem 2rem;
    }

    @media screen and (min-width: 1024px) {
        padding: 4rem 4rem 6rem 4rem;
    }
}
