// library
// lake green: #001e26;
// natural grey: #bbb5a9;
// dark red: #630f0b
// blush pink: #f9f3f4

:root {
    --color-background-light: #fff;
    --gradient-background-light: linear-gradient(to right, #005d56, #8c7e59);
    --color-font-light: #000;

    --color-background-dark: #000;
    --gradient-background-dark: linear-gradient(to right, #074045, #f9bdd5);
    --color-font-dark: #fff;

    --color-highlight-light: #217c84;
    --color-highlight-dark: aquamarine;

    --color-background: var(--color-background-light);
    --gradient-background: var(--gradient-background-light);
    --color-font: var(--color-font-light);
    --color-highlight: var(--color-highlight-light);

    @media (prefers-color-scheme: dark) {
        --color-background: var(--color-background-dark);
        --gradient-background: var(--gradient-background-dark);
        --color-font: var(--color-font-dark);
        --color-highlight: var(--color-highlight-dark);
    }

    --font-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}
