// library
// lake green: #001e26;
// natural grey: #bbb5a9;
// dark red: #630f0b
// blush pink: #f9f3f4

:root {
    --color-background-light: var(--cohbrgr-styles-color-background-light);
    --gradient-background-light: linear-gradient(
        to right,
        var(--cohbrgr-styles-color-background-gradient-left-light),
        var(--cohbrgr-styles-color-background-gradient-right-light)
    );
    --color-font-light: var(--cohbrgr-styles-color-font-light);

    --color-background-dark: var(--cohbrgr-styles-color-background-dark);
    --gradient-background-dark: linear-gradient(
        to right,
        var(--cohbrgr-styles-color-background-gradient-left-dark),
        var(--cohbrgr-styles-color-background-gradient-right-dark)
    );
    --color-font-dark: var(--cohbrgr-styles-color-font-dark);

    --color-background: var(--color-background-light);
    --gradient-background: var(--gradient-background-light);
    --color-font: var(--color-font-light);
    --color-highlight: var(--color-highlight-light);

    @media (prefers-color-scheme: dark) {
        --color-background: var(--color-background-dark);
        --gradient-background: var(--gradient-background-dark);
        --color-font: var(--color-font-dark);
        --color-highlight: var(--color-highlight-dark);
    }

    --font-system: var(--cohbrgr-styles-font-system);
}
