// library
// lake green: #001e26;
// natural grey: #bbb5a9;

:root {
    --color-background-light: #f9f3f4;
    --color-font-light: #0c3139;

    --color-background-dark: #09171b;
    --color-font-dark: #fff1ee;

    --color-highlight-light: #555;
    --color-highlight-dark: aquamarine;

    --color-background: var(--color-background-light);
    --color-font: var(--color-font-light);
    --color-highlight: var(--color-highlight-light);

    @media (prefers-color-scheme: dark) {
        --color-background: var(--color-background-dark);
        --color-font: var(--color-font-dark);
        --color-highlight: var(--color-highlight-dark);
    }

    --font-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}
