.layout {
    display: grid;
    height: 100vh;

    /* Avoid Chrome to see Safari hack */
    @supports (-webkit-touch-callout: none) {
        height: -webkit-fill-available;
    }

    @media screen and (min-width: 768px) {
        height: unset;
        width: calc(768px - 2rem);

        @supports (-webkit-touch-callout: none) {
            height: unset;
        }
    }
}
