:root {
    --color-background-light: #fff;
    --color-font-light: #0c3139;

    --color-background-dark: #1d1d1f;
    --color-font-dark: #fff;

    --color-highlight-light: #0a9c6c;
    --color-highlight-dark: aquamarine;
}
