.layout {
    display: grid;
    align-content: space-between;
    justify-content: start;

    /* Avoid Chrome to see Safari hack */
    @supports (-webkit-touch-callout: none) {
        body {
        /* The hack for Safari */
           height: -webkit-fill-available;
        }
    }

    height: 100vh;

    @media screen and (min-width: 768px) {
        height: unset;
        margin: 0 auto 0 auto;
        width: calc(768px - 2rem);
    }
}
