.layout {
    display: grid;
    align-content: space-between;
    justify-content: start;
    min-height: calc(100vh - 4em);
    padding: 2em;

    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
    height: -webkit-fill-available;
    

    @media screen and (min-width: 768px) {
        min-height: unset;
        margin: 0 auto 0 auto;
        width: 720px;
        padding: 0;
    }
}
