.navigation {
    padding: 0 2rem 2rem;

    @media screen and (min-width: 1024px) {
        padding: 0 4rem;
    }

    ul {
        padding: 0;
        margin: 0;
        :last-child {
            margin-right: 0;
        }
    }

    li {
        list-style: none;
        display: inline-block;
        margin-right: 1.618em;
    }

    a {
        font-size: 1.125rem;
        @media screen and (min-width: 1025px) {
            font-size: 1.25rem;
        }
    }
}
