name: CI

on:
    push:
        branches: ['main', 'develop']
    pull_request:
        branches: ['main', 'develop']

jobs:
    install:
        runs-on: ubuntu-latest
        container:
            image: node:25-alpine

        steps:
            - uses: actions/checkout@v4

            - uses: ./.github/actions/setup-pnpm

    lint:
        needs: install
        runs-on: ubuntu-latest
        container:
            image: node:25-alpine
        steps:
            - uses: actions/checkout@v4
            - uses: ./.github/actions/setup-pnpm
            - name: Run linting
              run: pnpm run lint

    build:
        needs: install
        runs-on: ubuntu-latest
        container:
            image: node:25-alpine
        steps:
            - uses: actions/checkout@v4
            - uses: ./.github/actions/setup-pnpm
            - name: Build
              run: pnpm run build

    test:
        needs: install
        runs-on: ubuntu-latest
        container:
            image: node:25-alpine
        steps:
            - uses: actions/checkout@v4
            - uses: ./.github/actions/setup-pnpm
            - name: Run tests
              run: pnpm run test

    lighthouse:
        needs: install
        runs-on: ubuntu-latest
        container:
            image: node:25-alpine
        steps:
            - uses: actions/checkout@v4
            - name: Install Chromium
              run: apk add --no-cache chromium
            - uses: ./.github/actions/setup-pnpm
            - name: Build
              run: pnpm run build
            - name: Run Lighthouse CI
              env:
                  LHCI_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  npm install -g @lhci/cli
                  lhci autorun
